# Excel Integration

Chapter 12 of Python for Finance (continued)

Hilpisch, Yves. Python for Finance: Analyze Big Financial Data. O'Reilly Media. Kindle Edition.

In [1]:
import numpy as np
import pandas as pd
import xlrd, xlwt
import xlsxwriter

In [2]:
wb = xlwt.Workbook()
wb

In [3]:
wb.add_sheet('first_sheet',cell_overwrite_ok=True)

In [4]:
ws_1 = wb.get_sheet(0)

In [5]:
ws_2 = wb.add_sheet('second_sheet',cell_overwrite_ok=True)

In [6]:
data = np.arange(1,65).reshape((8,8))
data

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30, 31, 32],
       [33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48],
       [49, 50, 51, 52, 53, 54, 55, 56],
       [57, 58, 59, 60, 61, 62, 63, 64]])

In [7]:
ws_1.write(0,0,100) # write 100 into cell A1

In [8]:
r=0
c=0
data[r,c]

1

In [9]:
#writing cell by cell
for c in range(data.shape[0]):
    for r in range(data.shape[1]):
        ws_1.write(r, c, float(data[c,r]))
        ws_2.write(r, c, float(data[r,c]))

In [10]:
wb.save('workbook.xls')

## New Workbook Format

In [11]:
wb = xlsxwriter.Workbook('workbook2.xls')

In [12]:
ws_1 = wb.add_worksheet('first_sheet')
ws_2 = wb.add_worksheet('second_sheet')

In [13]:
#writing cell by cell
for c in range(data.shape[0]):
    for r in range(data.shape[1]):
        ws_1.write(r, c, data[c,r])
        ws_2.write(r, c, data[r,c])

In [14]:
wb.close()

In [15]:
wb = xlsxwriter.Workbook('chart.xlsx')
ws = wb.add_worksheet('data')

#Write the cumulative sum of 15 random numbers in the first column
values = np.random.standard_normal(15).cumsum()
ws.write_column('A1', values )

0

In [16]:
chart = wb.add_chart({'type':'line'})

In [17]:
chart.add_series({'values':'=data!A1:A15','marker':{'type':'diamond'},})

#insert the chart
ws.insert_chart('C1', chart)
wb.close()

## Reading from workbooks

In [18]:
book = xlrd.open_workbook('workbook2.xlsx')

In [19]:
book.sheet_names()

['first_sheet', 'second_sheet']

In [20]:
sheet1 = book.sheet_by_name('first_sheet')
sheet2 = book.sheet_by_index(1)
sheet2.name

'second_sheet'

In [21]:
print('Sheet 1: {} columns, {} rows'.format(sheet1.ncols, sheet1.nrows))

Sheet 1: 8 columns, 8 rows

In [22]:
sheet1.cell(0,0).value

1.0

In [23]:
cl = sheet1.cell(0,0)
cl.ctype

2

In [24]:
sheet2.row(3)

[number:25.0,
 number:26.0,
 number:27.0,
 number:28.0,
 number:29.0,
 number:30.0,
 number:31.0,
 number:32.0]

In [25]:
sheet2.col(3)

[number:4.0,
 number:12.0,
 number:20.0,
 number:28.0,
 number:36.0,
 number:44.0,
 number:52.0,
 number:60.0]

In [26]:
sheet1.col_values(colx=3, start_rowx=3, end_rowx=7)

[28.0, 29.0, 30.0, 31.0]

In [27]:
sheet1.row_values(rowx=3, start_colx=3, end_colx=7)

[28.0, 36.0, 44.0, 52.0]

In [28]:
for c in range(sheet1.ncols):
    for r in range(sheet1.nrows):
        print('{:2}'.format(round(sheet1.cell(r,c).value),0), end=' ')
    print()

 1  2  3  4  5  6  7  8
 9 10 11 12 13 14 15 16
17 18 19 20 21 22 23 24
25 26 27 28 29 30 31 32
33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48
49 50 51 52 53 54 55 56
57 58 59 60 61 62 63 64

## OpenPyxl

In [29]:
import openpyxl as oxl

In [30]:
wb = oxl.Workbook()

In [31]:
ws = wb.create_sheet(index=0, title='oxl_sheet')

In [32]:
for c in range(data.shape[0]):
    for r in range(data.shape[1]):
        ws.cell(row=r+1, column=c+1).value = float(data[c,r])
        #creates a cell object and populates the value

In [33]:
wb.save('oxl_book.xlsx')

In [34]:
wb = oxl.load_workbook('oxl_book.xlsx')

In [35]:
ws = wb.active

In [36]:
cell = ws['B4']

In [37]:
cell.column

'B'

In [38]:
cell.value

12

In [39]:
ws['B1':'B4']

In [40]:
for cell in ws['B1':'B4']:
    print(cell[0].value)

9
10
11
12

In [41]:
for row in ws.range('B1:B4'):
    for cell in row:
        print(cell.value)

9
10
11
12

C:\Users\tttri\Anaconda3\lib\site-packages\openpyxl\worksheet\worksheet.py:516: UserWarning: Call to deprecated function or class range (
    Use .iter_rows() working with coordinates 'A1:D4',
    and .get_squared_range() when working with indices (1, 1, 4, 4)
    and .get_named_range() for named ranges).
  Use .iter_rows() working with coordinates 'A1:D4',

In [44]:
df_1 = pd.read_excel('workbook2.xlsx', sheetname='first_sheet',header=None)
df_2 = pd.read_excel('workbook2.xlsx',sheetname='second_sheet',header=None)

In [47]:
import string
columns = []
for c in range(data.shape[0]):
    columns.append(string.ascii_uppercase[c])
columns

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [48]:
df_1.columns = columns
df_2.columns = columns

In [49]:
df_1

   A   B   C   D   E   F   G   H
0  1   9  17  25  33  41  49  57
1  2  10  18  26  34  42  50  58
2  3  11  19  27  35  43  51  59
3  4  12  20  28  36  44  52  60
4  5  13  21  29  37  45  53  61
5  6  14  22  30  38  46  54  62
6  7  15  23  31  39  47  55  63
7  8  16  24  32  40  48  56  64

In [50]:
df_2

    A   B   C   D   E   F   G   H
0   1   2   3   4   5   6   7   8
1   9  10  11  12  13  14  15  16
2  17  18  19  20  21  22  23  24
3  25  26  27  28  29  30  31  32
4  33  34  35  36  37  38  39  40
5  41  42  43  44  45  46  47  48
6  49  50  51  52  53  54  55  56
7  57  58  59  60  61  62  63  64

In [51]:
df_1.to_excel('new_book_1.xlsx',sheet_name='my_sheet')

In [54]:
wbn = xlrd.open_workbook('new_book_1.xlsx')
wbn.sheet_names()

['my_sheet']

In [55]:
wbw = pd.ExcelWriter('new_book_2.xlsx')
df_1.to_excel(wbw, 'first_sheet')
df_2.to_excel(wbw, 'second_sheet')
wbw.save()

In [56]:
wbn = xlrd.open_workbook('new_book_2.xlsx')
wbn.sheet_names()

['first_sheet', 'second_sheet']

In [57]:
data = np.random.rand(20, 100000)
data.nbytes

16000000

In [58]:
df = pd.DataFrame(data)

In [59]:
%time df.to_excel('data.xlsx',sheet_name='data_sheet')

Wall time: 40.6 s

In [60]:
%time np.save('data', data)

Wall time: 16 ms

In [61]:
%time df = pd.read_excel('data.xlsx', sheetname='data_sheet')

Wall time: 5.65 s

In [63]:
%time data =  np.load('data.npy')

Wall time: 13 ms

## Scripting in Excel
They discuss using "DataNitro" and "xlwings" for integrating Python functionality into Excel. DataNitro requires a license and xlwings was new at the time the book was written, so I'm skipping the rest of this section.